<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>hi</title>
  </head>
  <body>
	  <h1>HI</h1>
	  <script type="text/javascript" src="https://www.symphony.com/resources/api/v1.0/symphony-api.js" charset="utf-8"></script>
	  <script type="text/javascript" src="index.js" charset="utf-8"></script>
	  <script type="text/javascript" charset="utf-8">console.log('helo')</script>
  </body>
</html>
